  <!--SECCION  BARRA DE NAVEGACION-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
    <div class="container-fluid">

      <h1><a class="digevoIcono" href="#" id="Index"><img class="digevoIcono" src="assets/img/digevo.png"></a></h1>


      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    


      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <div class="nav-item">
            <a class="nav-link Nav  text-light" href="#Listar" id="Listar">Listar documentos</a>

          </div>
          <div class="nav-item">
            <a class="nav-link Nav text-light" href="#Add" id="Add">Añadir documentos</a>
          </div>

          
        </ul>

      </div>
    </div>
  </nav>
  <!--SECCION  BARRA DE NAVEGACION-->

<!-- -------------------------CUERPO DE LA APLICACIÓN--------------------- -->
<section>
<h1 class="digevo mt-3">Aplicación para Documentos</h1>


<div class = "container mt-5">

  <form>
    <div class="form-group">
      <label class="labels" for="exampleInputEmail1">Title</label>
      <small id="emailHelp" class="form-text ms-3 labels">Ingresa el titulo del documento</small>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Documento 1">
      
    </div>
    <div class="form-group">
      <label class ="labels mt-2" for="exampleInputPassword1">Descripcion</label>
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Mi primer documento">
    </div>

    <button type="submit" class="btn btn-primary mt-3">Submit</button>
  </form>
</div>
</section>
<!-- -------------------------CUERPO DE LA APLICACIÓN--------------------- -->


<!----------------------LISTANDO LOS DOCUMENTOS---------- -->
<div class="container mt-4">
<div class="row">
<div class="col-md-8">
  <ul class="list-group">
    <li *ngFor="let documentos of documentosArray"
    class="list-group-item list-group-item-action">
<span class="colorBadge badge col-md">{{documentos.id}}</span>&nbsp;&nbsp;{{documentos.nombre}} - {{documentos.descripcion}}

    </li>
  </ul>
</div>
</div>

</div>


<!----------------------LISTANDO LOS DOCUMENTOS---------- -->
