
body{
    background: #b92b27;  
    background: -webkit-linear-gradient(to left, #1565C0, #b92b27); 
    background: linear-gradient(to left, #1565C0, #b92b27); 
    
}

.digevo {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.labels {
    font-weight: bold;
}