
body{
    background: #b92b27;  
    background: -webkit-linear-gradient(to left, #1565C0, #b92b27); 
    background: linear-gradient(to left, #1565C0, #b92b27); 
    
}

.digevo {
    font-weight: bold;
    text-align: center;
    font-size: xx-large;
    -webkit-text-stroke: 1px rgb(0, 0, 0);
    color:white;
    text-shadow: 0.1em 0.15em 0.15em #000000;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.digevoIcono{
    margin-left: 10px;
    width: 100px; height: 60px;
}


.Nav{
    margin-left: 30px;
}
.labels {
    font-weight: bold;
}


.colorBadge {
    background: #b92b27; 
}

.header-section{
    font-size: xx-large;
    -webkit-text-stroke: 1px rgb(0, 0, 0);
    color:black;
    text-shadow: 0.1em 0.15em 0.15em #000000;
}


